<!-- ðŸŽ¨Navigation rendered at application.html.erb-->
<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <%= form_with model: @product,url: admin_product_url(@product), html: { class: "row" }, local: true do |form| %>
        <div class="col-md-6" data-controller="image-preview">
          <%= form.label :image, "å•†å“ç”»åƒ", class: "form-label" %>
          <%= form.file_field :image, class: "form-control-file photo_upload", data: {target: "image-preview.input", action: "image-preview#readURL" } %>
          <%= image_tag("preview.png",  :width => "350px", :hight => "300px", data: {target: "image-preview.output" }) %>
        </div>
        <div class="col-md-6">
          <div class="form-group mt-4">
            <%= form.label :code, "å•†å“ã‚³ãƒ¼ãƒ‰", class: "form-label" %>
            <%= form.text_field :code, class: "form-control", placeholder: "å•†å“ã‚³ãƒ¼ãƒ‰ã‚’å…¥åŠ›..." %>
            <% if @product.errors.has_key?(:code) %>
              <div class="invalid-feedback">
                <%= @product.errors[:code].join(", ") %>
              </div>
            <% end %>
          </div>
          <div class="form-group mt-4">
            <%= form.label :name, "å•†å“å", class: "form-label" %>
            <%= form.text_field :name, class: "form-control", placeholder: "å•†å“åã‚’å…¥åŠ›..." %>
            <% if @product.errors.has_key?(:name) %>
              <div class="invalid-feedback">
                <%= @product.errors[:name].join(", ") %>
              </div>
            <% end %>
          </div>
          <div class="form-group mt-4">
            <%= form.label :price, "ä¾¡æ ¼", class: "form-label" %>
            <%= form.number_field :price, in: 1..10000, step: 1, class: "form-control", placeholder: "ä¾¡æ ¼ã‚’å…¥åŠ›..." %>
            <% if @product.errors.has_key?(:price) %>
              <div class="invalid-feedback">
                <%= @product.errors[:price].join(", ") %>
              </div>
            <% end %>
          </div>
          <div class="form-group mt-4">
            <%= form.label :description, "å•†å“èª¬æ˜Ž", class: "form-label" %>
            <%= form.text_area :description, class: "form-control", rows: 5, placeholder: "å•†å“èª¬æ˜Žã‚’å…¥åŠ›..." %>
            <% if @product.errors.has_key?(:description) %>
              <div class="invalid-feedback">
                <%= @product.errors[:description].join(", ") %>
              </div>
            <% end %>
          </div>
          <div class="form-group mt-4">
            <%= form.label :quantity, "åœ¨åº«æ•°", class: "form-label" %>
            <%= form.number_field :quantity, in: 0..100, step: 1, class: "form-control me-3", placeholder: "åœ¨åº«æ•°ã‚’å…¥åŠ›..." %>
            <% if @product.errors.has_key?(:quantity) %>
              <div class="invalid-feedback">
                <%= @product.errors[:quantity].join(", ") %>
              </div>
            <% end %>
            <%= form.submit "å•†å“ã‚’ç™»éŒ²ã™ã‚‹", class: "btn btn-outline-dark flex-shrink-0 mt-5" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- ðŸŽ¨Footer rendered at application.html.erb-->
