<!-- ðŸŽ¨Navigation rendered at application.html.erb-->
<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
    <%= form_with model: @article do |form| %>
        <div class="col-md-6">
          <%# <%=  image_tag rails_storage_proxy_url(@product.image),class: "card-img-top mb-5 mb-md-0" if @product.image.attached?  %>
          <%= form.file_field :file %>
        </div>
        <div class="col-md-6">
          <div class="small mb-1"><%= form.text_field :code,:placeholder => "å•†å“ã‚³ãƒ¼ãƒ‰ã‚’å…¥åŠ›..." %></div>
          <h1 class="display-5 fw-bolder"><%= form.text_field :code,:placeholder => "å•†å“åã‚’å…¥åŠ›..." %></h1>
          <div class="fs-5 mb-5">
            <span><%= form.number_field :price, in: 1..100000, step: 1, :placeholder => "ä¾¡æ ¼ã‚’å…¥åŠ›..." %></span>
          </div>
           <p class="lead"><%= form.text_area :description, size: "70x5",:placeholder => "å•†å“èª¬æ˜Žã‚’å…¥åŠ›..." %></p>
          <div class="d-flex">
            <%# <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> %>
            <%= form.number_field :quantity, in: 0..100, step: 1, :placeholder => "åœ¨åº«æ•°ã‚’å…¥åŠ›..." %>
              <%= form.submit "å•†å“ã‚’ç™»éŒ²ã™ã‚‹",  class:"btn btn-outline-dark flex-shrink-0" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- ðŸŽ¨Footer rendered at application.html.erb-->
